@charset "UTF-8";

::-webkit-scrollbar{
  width: 0px;
}

.verde{
  color: #219653;
}

*{
  margin: 0px;
  padding: 0px;
  
}

button:hover{
  box-shadow: 3px 3px 3px rgb(11, 96, 5);
}

html, body{
  
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
}
section#header{
  
  padding-top: 50px;
  
}
section#header header h1{
  padding-left: px;
}
section#header header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: px;
}
section#header header div{
  display: flex;
  justify-content: space-between;
  width: 20%;
}
section#header header div a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

section#header header button{
  width: 120px;
  height: 56px;
  border-radius: 16px;
  background-color: #219653;
  color: white;
  cursor: pointer;
}

section#main{
  
  padding-top: 60px;
}

section#main main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

section#main main div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section#main main div h1{
  font-size: 2.5em;
}

section#main main div p{
  font-size: 1.2em;
  font-weight: bold;
}

section#main main div button{
  width: 300px;
  height: 56px;
  border-radius: 16px;
  background-color: #219653;
  color: white;
  cursor: pointer;
}
section#main main div div div{
  display: flex;
  flex-direction: row;
}

section#main main div img{
  width: 300px;
  height: 300px;
  border-radius: 50px;
}
section#main main div div div {
  padding-right: 200px;
}
section#main main div div div a img{
  width: 40px;
  height: 40px;
}

section#habilidades{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
section#habilidades h1 {
  font-size: 2.5em;
}
section#habilidades div{
  display: flex;
  flex-direction: row;
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
}
section#habilidades div div#a{
display: flex;
flex-direction: column;
border: 2px solid black;
height: 630px;
width: 25%;
margin-right: 30px;
border-radius: 30px;
}
section#habilidades div div#a h2{
  text-align: center;
  padding-top: 10px;
}
section#habilidades div div#a p{
  text-align: center;
  padding-top: 20px;
}
section#habilidades div div#a ul li{
  padding-top: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

section#habilidades div div#a img{
  width: 120px;
  align-self: center;
  margin-bottom: 10px;
}


section#habilidades div div#b{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  height: 630px;
  width: 25%;
  border-radius: 30px;
}
section#habilidades div div#b h2{
  text-align: center;
  padding-top: 10px;
}
section#habilidades div div#b p{
  text-align: center;
  padding-top: 20px;
}
section#habilidades div div#b ul li{
  padding-top: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

section#habilidades div div#b img{
  width: 120px;
  align-self: center;
  margin-bottom: 10px;
}


section#habilidades div div#c{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  height: 630px;
  width: 25%;
  margin-left: 30px;
  border-radius: 30px;
}
section#habilidades div div#c h2{
  text-align: center;
  padding-top: 10px;
}
section#habilidades div div#c p{
  text-align: center;
  padding-top: 20px;
}
section#habilidades div div#c ul li{
  padding-top: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

section#habilidades div div#c img{
  width: 120px;
  align-self: center;
  margin-bottom: 10px;
}



section#portifolio{
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


section#portifolio div{
  display: flex;
  
}
section#portifolio h1{
  font-size: 2.5em;
}

section#portifolio div div{
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  margin: 20px;
  width: 260px;
  border-radius: 30px;
  
}
section#portifolio div div h2{
  margin: 30px;
  text-align: center;
}
section#portifolio div div p{
  text-align: center;
}
section div div img{
  width: 80px;
  align-self: center;
  padding-top: 10px;
}

section#portifolio div div div {
  display: flex;
  flex-direction: row;
  padding-left: 150px;
  border: none;
  align-self: center;
}
section#portifolio div div div a img{
  width: 20px;
  height: 20px;
  padding-left: 20px;
}

section#experiencias{
 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

section#experiencias h1{
  font-size: 2.5em;
}

section#experiencias div{
  border: 3px solid black;
  margin-top: 10px;
  width: 600px;
  height: 90px;
  border-radius: 20px;

}
section#experiencias div div{
  border: none;
  display: flex;
  flex-direction: row;
  
}
section#experiencias div div div{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 10px;
  
}
section#experiencias div div div h2{
  font-size: 1.1em;
}
section#experiencias div div div p{
  font-size: 0.8em;
  padding-top: 5px;
}

section#experiencias div div img{
  width: 40px;
  padding-bottom: 60px;
  padding-left: 20px;
  
}

section#ajuda{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
section#ajuda h1{
  font-size: 2.5em;
}
section#ajuda p{
  font-size: 1.1em;
  padding-top: 10px;
}
section#ajuda div{
  display: flex;
  padding-top: 10px;
}
section#ajuda div img{
  width: 20px;
  height: 20px;
  padding-right: 20px;
  
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;
  font-size: 1em;
}